.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15% 10%;
}

.card-container {
    transition: box-shadow 0.1s;
    border-radius: 6px;
}

.card {
    width: 450px;
    height: 175px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: solid grey 1px;
}

.card-container:hover {
    box-shadow: 7px 7px 4px rgb(72, 72, 72);
}

.card-content {
    width: 70%;
}

.card-image {
    max-width: 30%;
}

.image {
    width: 100%;
}

.small-content {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-price {
    font-size: 20px;
}

.like {
    color: red;
}

.title {
    color: black;
    transition: color 0.3s;
} 

.title:hover {
    color: blue;
}

.card-button {
    width: 100%;
}