{% extends 'base.html' %}
{% load static %}
{% block head %}
  <link href="{% static 'css/product_card.css' %}" rel="stylesheet"/>
{% endblock %}
<!-- product section -->
{% block content %}

{% if products %}
<div class="products">
  {% for product in products %}
    <div class="card-container">
      <div class="card">
        <div class="card-image">
          <img src="{{ product.image.url }}" class="image">
        </div>
        <div class="card-content">
          <div class="card-body">
            <h4 class="card-title"><a class="title" href="{% url 'product_detail_url' product.id %}">{{ product.name }}</a></h4>
            <p class="card-text">{{ product.description|truncatechars:50 }}{% if product.description|length > 50 %}...{% endif %}</p>
            <div class="small-content">
              <span class="card-price">$ {{ product.price }}</span><span><i class="fa fa-heart like"></i> {{ product.total_likes }}</span>
            </div>
          </div>
        </div>
      </div>
      {% if product.status == 'In stock' %}
        <a href="{% url 'cart_add_url' product.id %}"><button class="card-button btn btn-outline-success">Add to cart</button></a>
      {% else %}
        <button class="card-button btn btn-outline-danger">Out of stock</button>
      {% endif %}
    </div>
  {% endfor %}
</div>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">

      {% if page_obj.has_previous %}
      <li class="page-item">

        <a class="page-link" href="{% url 'product_list_url' %}?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
      {% endif %}

      <li class="page-item"><a class="page-link" href="">{{ page_obj.number }}</a></li>

      {% if page_obj.has_next %}
      <li class="page-item">

        <a class="page-link" href="{% url 'product_list_url' %}?page={{ page_obj.next_page_number }}">Next</a>
      </li>
      {% endif %}

    </ul>
  </nav>
{% else %}
<div style="margin: 5% auto 12%; text-align: center;">
  <h1 style="margin-bottom: 10%;">Products will be added soon...</h1>
  <img src="{% static 'images/waiting.png' %}" style="width: 150px; height: 150px;">
</div>
{% endif %}

<!-- end product section -->

{% endblock %}