{% extends 'base.html' %}
{% load static %}
{% block content %}
{% block head %}
  <link href="{% static 'css/product_detail.css' %}" rel="stylesheet"/>
{% endblock %}

<div class="product">
    <img src="{{ product.image.url }}" class="prod-image">
    <div class="prod-container">
        <div class="prod-content">
            <h1 class="prod-card-title">{{ product.name }}</h1>
            <div class="prod-price-like">
                <h3 class="prod-card-price grey">$ {{ product.price }}</h3><span><i class="fa fa-heart like"></i> {{ product.total_likes }}</span>
            </div>
            <hr>
            <div class="prod-card-desc">
                <p>{{ product.description}}</p>
            </div>
            <hr>
            <div class="prod-button-con">
                <button class="prod-button btn btn-outline-danger">Out of stock</button>
            </div>
        </div>
    </div>
</div>
<div class="comment">
    {% if request.user.is_authenticated %}
        <div class="comment-form">
            <form method="post" action="{% url 'add_comment_url' product.pk %}" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="product" value="{{product.id}}">
                <input type="hidden" name="user" value="{{request.user.id}}">
                <input class="comment-input" type="text" name="body"  style="width: 100%;">
                <button type="submit" class="btn btn-outline-success" style="margin-top: 2%;">Add Comment</button>
            </form>
        </div>
    <!-- {%endif%}
    {% if request.user.is_authenticated %} -->
        <!-- <a href="{% url 'add_comment_url' product.id %}"><button class="btn btn-outline-warning">Add comment</button></a> -->
    {% endif %}

    <h1 class="prod-comment">Comments</h1>
    {% if not product.comments.all %}
        <h2 class="no-comment">No comments yet...</h2>
    {% else %}
        {% for comment in product.comments.all %}
            <strong>
                {{ comment.user }} - {{ comment.add_date }}
            </strong>
            {{ comment.body }}
        {% endfor %}
    {% endif %}
    
</div>
<!-- 
<div class="card mb-3" style="max-width: 1240px; margin: 5% 30%;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h1 class="card-title">{{ product.name }}</h1>
                <p class="card-text">{{ product.status }}</p>
                <p class="card-text">${{ product.price }}</p>
                <p class="card-text">{{ product.description}}</p>

                <i class="fa fa-heart" aria-hidden="true" style="width: 25px; height: 20px; color: #f1b127;"></i>
                <span style="color:#f1b127;">Likes: {{ product.total_likes }}</span>

                {% if request.user.is_authenticated and request.user.is_staff%}
                <div style="margin-top: 5%; margin-left: 31px;">
                    <a href="{% url 'update_product_url' product.id %}" class="btn btn-primary">Update</a>
                    <a href="{% url 'delete_product_url' product.id %}" class="btn btn-danger">Delete</a>
                </div>
                {%endif%}
                <div style="margin-top: 1%;">
                    {% if request.user.is_authenticated %}
                    {% if product.status == 'Out of stock'%}
                    <a class="btn btn-success">Add to cart</a>
                    {% else %}
                    <a href="{% url 'cart_add_url' product.id %}" class="btn btn-success">Add to cart</a>
                    {% endif %}
                    <a href="{% url 'add_comment_url' product.id %}" class="btn btn-primary mr-2">Comment</a>
                    {% endif %}
                    <div style="margin-left: 16%; margin-top: 1%;">
                        {% if request.user.is_authenticated %}
                        <form action="{% url 'like_product_url' product.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" name="product_id" value="{{ product.id }}" class="btn btn-primary">
                                Like
                            </button>
                        </form>
                        {% endif %}
                    </div>
                </div>
                <div>
                    <hr>

                    {% if request.user.is_authenticated%}
                    <form method="post" action="{% url 'add_comment_url' product.pk %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="product" value="{{product.id}}">
                        <input type="hidden" name="user" value="{{request.user.id}}">
                        <input type="text" name="body"  style="width: 100%;">
                        <button type="submit" class="btn btn-success" style="margin-top: 2%;">Add Comment</button>

                    </form>
                    <h1 style="margin-top: 2%;">Comments:</h1>
                    {% if not product.comments.all %}
                    No comments yet
                    <br>
                    {% else %}
                    <br>
                    {% for comment in product.comments.all %}
                    <strong>
                        {{ comment.user }} - {{ comment.add_date }}
                    </strong>
                    <br>
                    {{ comment.body }}
                    <br>
                    {% endfor %}
                    {% endif %}

                    {%endif%}
                    END COMMENTS
                </div>
            </div>
        </div>
    </div>
</div> -->



{% endblock %}